:root {
    --bg: #698499;
    --bg-normal: #dedbd2;
    --bg-fighting: #ce9f9a;
    --bg-flying: #d8cff5;
    --bg-poison: #eda0cd;
    --bg-ground: #e9e2cd;
    --bg-rock: #dbcd9b;
    --bg-bug: #dce0ac;
    --bg-ghost: #b5aac9;
    --bg-steel: #dedde6;
    --bg-fire: #fdc297;
    --bg-water: #bcc8e8;
    --bg-grass: #bae5a2;
    --bg-electric: #fbe292;
    --bg-psychic: #eabec7;
    --bg-ice: #caeceb;
    --bg-dragon: #ba9cff;
    --bg-dark: #b8aaa1;
    --bg-fairy: #f9bbef;
    --bg-unknow: #fff;
    --bg-shadow: #555;
}

body {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg);
}

#pokemon-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    min-width: 250px;
    padding: 10px;
    margin: 20px;
    text-transform: capitalize;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.4);
    background: url(img/bg-card.png) no-repeat;
    background-position-x: 80%;
    background-position-y: 80%;
    transition: all 300ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}

.name-id {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.types {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.type {
    width: fit-content;
    margin: 10px 0 0 32px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    color: rgb(88, 88, 88);
}

.img {
    display: flex;
    justify-content: center;
}

.pokemon-img {
    width: 150px;
}

button {
    background-color: white;
    border-radius: 12px;
    width: 200px;
    margin-bottom: 20px;
}